
@media(max-width: 992px)
{
    .breakpoint-lgs
    {
        display: block;
    }
    .breakpoint-lgb
    {
        display: none;
    }
}

@media(min-width: 992px)
{
    .breakpoint-lgs
    {
        display: none;
    }
    .breakpoint-lgb
    {
        display: block;
    }
}

@media(max-width: 768px)
{
    .breakpoint-mbs
    {
        display: block;
    }
    .breakpoint-mdb
    {
        display: none;
    }
}

@media(min-width: 768px)
{
    .breakpoint-mbs
    {
        display: none;
    }
    .breakpoint-mdb
    {
        display: block;
    }
}

.list-item
{
    text-decoration: none;
    color: black;
}

.list-item:hover
{
    text-decoration: none;
    color: black;
}